<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styledc.css" media="all" />
    <title>CREDIRECT.MA</title>
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>
      <div class="columns">
        <div class="column">
          <div class="logo">
            <img src="./credirect.png" alt="logo" />
          </div>
          <div class="pr-name">
            <p>RACHID HAMRAOUI</p>
          </div>
        </div>
        <div class="column">
          <div class="letterhead">DEMANDE DE CREDIT</div>
        </div>
        <div class="column">
          <div class="agent-addr">
            <table>
              <tr>
                <th>Initiateur:</th>
                <td>SALMA</td>
              </tr>
              <tr>
                <th>Telephone:</th>
                <td>+212 5 20 16 00 17</td>
              </tr>
              <tr>
                <th>Date:</th>
                <td>11/08/2022</td>
              </tr>
            </table>
          </div>
        </div>
      <div class="columns">
        <div class="column-2">
          <div class="credit-type">CREDIT IMMOBILIER</div>
        </div>
        <div class="column-2">
          <div class="mail-msg">
            Merci d'envoyer l'accord du crédit sur la boite mail suivante
          </div>
        </div>
        <div class="column-2">
          <div class="mail-contact">contact@credirect.ma</div>
        </div>
      </div>
    </div>
    <div class="prospect-info">
      <div class="table-head">TYPE INTERVENANT ===> Emprunteur Principal</div>
      <table class="pos_fixed1" border="1">
        <tr>
          <th>Nom et prenom</th>
          <td>RACHID HAMRAOUI</td>
        </tr>
        <tr>
          <th>Date de naissance</th>
          <td>10/10/1983</td>
        </tr>
        <tr>
          <th>Nationalité</th>
          <td>MAROCAINE</td>
        </tr>
        <tr>
          <th>Adresse</th>
          <td>CAR RHAMNA BLOC 15 NR SIDI MOUMEN CASA</td>
        </tr>
        <tr>
          <th>Profession</th>
          <td>GERANT DE SOCIETE</td>
        </tr>
        <tr>
          <th>Date d'embauche</th>
          <td>25/01/2016</td>
        </tr>
        <tr>
          <th>N CIN/Sejour</th>
          <td>BH259582</td>
        </tr>
      </table>
      <table class="pos_fixed2" border="1">
        <tr>
          <th>Lieu de naissance</th>
          <td>SETTAT</td>
        </tr>
        <tr>
          <th>Ville de residence</th>
          <td>CASABLANCA</td>
        </tr>
        <tr>
          <th>Situation Familliale</th>
          <td>MARI</td>
        </tr>
        <tr>
          <th>Telephone</th>
          <td>0905684748</td>
        </tr>
        <tr>
          <th>R.S. Employeur</th>
          <td>MALAK IMPORT EXPORT</td>
        </tr>
        <tr>
          <th>Resultat Net/Salaire</th>
          <td>169878,00</td>
        </tr>
        <tr>
          <th>Part de Participation</th>
          <td>100.00%</td>
        </tr>
      </table>
    </div>
    <div class="banque-info">
      <div class="table-head">RENSEIGNEMENTS BANCAIRES</div>
      <table border="1">
        <tr>
          <th>Nom Ou Raison Sociale</th>
          <th>Banque</th>
          <th>Solde</th>
          <th>Cmc</th>
        </tr>
        <tr>
          <td>RACHID HAMRAOUI</td>
          <td>AWB</td>
          <td>12700,00</td>
          <td>0,00</td>
        </tr>
      </table>
    </div>
    <div class="odc">
      <div class="table-head">OBJET DE CREDIT</div>
      <div class="odc-table">
        <table class="pos_fixed1" width="31%" border="1">
          <tr>
            <th>Objet de credit</th>
            <td>ACQUISITION</td>
          </tr>
          <tr>
            <th>Nature du bien</th>
            <td>VILLA</td>
          </tr>
          <tr>
            <th>Montant valeur de l'acte</th>
            <td>3200000</td>
          </tr>
          <tr>
            <th>Montant valeur venale</th>
            <td>3500000</td>
          </tr>
          <tr>
            <th>Titr foncier</th>
            <td>239177/12</td>
          </tr>
        </table>
        <table class="pos_fixed2" width="68%" border="1">
          <tr>
            <th>Usage du bien</th>
            <td>Principal</td>
          </tr>
          <tr>
            <th>Etat du bien</th>
            <td>NEUF</td>
          </tr>
          <tr>
            <th>Mnt Travaux</th>
            <td>0,00</td>
          </tr>
          <tr>
            <th>Adr. du bien</th>
            <td>
              VILLA N°72,RESIDENCE LES JARDINS DE LA COLLINE, TIT MELLIL,
              CASABLANCA
            </td>
          </tr>
          <tr>
            <th>Superficie en m</th>
            <td>358 m</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="eng-ban">
      <div class="table-head">ENGAGEMENTS BANCAIRES</div>
      <table border="1">
        <tr>
          <th>Beneficiare</th>
          <th>Nature credit</th>
          <th>Organisme</th>
          <th>Echeance</th>
          <th>Encours</th>
          <th>Duree</th>
          <th>RAT</th>
        </tr>
        <tr>
          <td>RACHID HAMRAOUI</td>
          <td>CREDIT CONSO</td>
          <td>VIVALIS</td>
          <td>11832,00</td>
          <td>0,00</td>
          <td>0</td>
          <td>NON</td>
        </tr>
        <tr>
          <td>RACHID HAMRAOUI</td>
          <td>CREDIT CONSO</td>
          <td>AWB</td>
          <td>11331,00</td>
          <td>0,00</td>
          <td>0</td>
          <td>NON</td>
        </tr>
      </table>
    </div>
    <div class="cdc">
      <div class="table-head">CARACTERISTIQUES DU CREDIT</div>
      <div class="cdc-head">RACHID HAMRAOUI</div>
      <table class="pos_fixed1" border="1">
        <tr>
          <th>Montant</th>
          <td>2500000,00</td>
        </tr>
        <tr>
          <th>Mens. TTC + Ass</th>
          <td>16426,92</td>
        </tr>
        <tr>
          <th>Tx d'endet. projet</th>
          <td>10,29</td>
        </tr>
      </table>
      <table class="pos_fixed2" border="1">
        <tr>
          <th>Durée</th>
          <td>240</td>
        </tr>
        <tr>
          <th>Taux souhaité</th>
          <td>4,20</td>
        </tr>
        <tr>
          <th>TEG</th>
          <td>18,53</td>
        </tr>
      </table>
      <table class="pos_fixed3" border="1">
        <tr>
          <th>Frèq.Remboursement</th>
          <td>MENSUELLE</td>
        </tr>
        <tr>
          <th>Durée de franchise</th>
          <td>0,00</td>
        </tr>
        <tr>
          <th>Quotitèfinacement</th>
          <td>71,00 %</td>
        </tr>
      </table>
    </div>
    <div class="gar" style="break-before: page">
      <table>
        <tr>
          <th>GARANTIES</th>
        </tr>
        <tr>
          <td>
            *** HYPOTHEQUE EN 1ER RANG *** ENGAGEMENT DE DOMICILIATION DES
            REVENUS
          </td>
        </tr>
      </table>
    </div>
    <div class="caf-v">
      <table class="pos-left">
        <tr>
          <th>Commentaires liés au Financement</th>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
      <table class="pos-right">
        <tr>
          <th>visa</th>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
  </body>
</html>
